* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", Arial, sans-serif;
  color: #141414;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-inline: auto;
  max-width: 1200px;
  padding-inline: 20px;
}

.grid-section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
}

.titulo {
  font-size: 8rem;
  line-height: 1;
  text-transform: uppercase;
  word-break: break-all;
}

.texto {
  margin-bottom: 60px;
  max-width: 40ch;
  font-size: 1.5rem;
  line-height: 1.35;
}

@media (max-width: 800px) {
  .grid-section {
    grid-template-columns: 1fr;
    gap: 40px;
  }

  .titulo {
    font-size: 3rem;
    text-transform: capitalize;
  }

  .texto {
    font-size: 1.25rem;
  }
}
