* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Fira Sans", Arial, sans-serif;
  color: #141414;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  margin-inline: auto;
  max-width: 1200px;
  padding-inline: 20px;
}
